<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
</head>

<body class="b">
<div class="lg">
  <form action="#" method="POST">
    <div class="lg_top"></div>
    <div class="lg_main">
      <div class="lg_m_1">

        <input name="username" value="hovertree" class="ur" />
        <input name="password" type="password" value="keleyi.com" class="pw" />

      </div>
    </div>
    <div class="lg_foot">
      <input type="button" value="点这里登录" class="bn" /></div>
  </form>
</div>
<div style="text-align:center;">
  <p><a href="http://keleyi.com/">首页</a> <a href="http://keleyi.com/keleyi/phtml/">特效库</a> <a href="http://keleyi.com/a/bjae/6asac24d.htm">原文</a></p>
</div>
</body>
</html>
