<div class="transMain">
  <div style="width: 100%;" class="btn-group" role="group">
    <button type="button" class="btn btn-default" (click)="openModelWithComponent()">Upload</button>
    <button type="button" class="btn btn-default" (click)="translateAll()">Translate All</button>
    <button type="button" class="btn btn-default" (click)="downloadAll()">Download All</button>
    <button type="button" class="btn btn-danger" (click)="removeAll()">Delete All</button>

  </div>
<!--  <hr>-->
<!--  <div class="row">-->
    <!--col-12表示一行显示一个-->
<!--    <div class="col-12">-->
      <!--tab-content可以设置导航与面板通过id对应-->
<!--      <div class="tab-content">-->
        <!--呈现大型复杂数据的Angular组件-->
        <!--定义相关属性-->
        <ul class="pdffiles">
<!--          <li *ngFor="let file of files$ | async">-->
          <li *ngFor="let file of files">
            <div class="file">
              <span class="badge">
<!--              {{file.id}}-->
            </span>
              <span class="uploadName">{{file.filename}}</span>
              <span class="uploadTime">上传时间：{{file.savetime}}</span>
<!--              <span class="status">-->
<!--&lt;!&ndash;                // 1 -> uploading&ndash;&gt;-->
<!--&lt;!&ndash;                // 2 -> uploaded&ndash;&gt;-->
<!--&lt;!&ndash;                // 3 -> parsing&ndash;&gt;-->
<!--&lt;!&ndash;                // 4 -> translating&ndash;&gt;-->
<!--&lt;!&ndash;                // 5 -> translated&ndash;&gt;-->
<!--&lt;!&ndash;                // 6 -> generating&ndash;&gt;-->
<!--&lt;!&ndash;                // 7 -> generated&ndash;&gt;-->
<!--                {{ file.status }}-->
<!--                  <span *ngIf="file.status == 1">-->
<!--                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>-->
<!--&lt;!&ndash;                    <i class="fa fa-exclamation-circle fa-2x fa-fw"></i>&ndash;&gt;-->
<!--                     <i>上传中...</i>-->
<!--                  </span>-->
<!--                  <span *ngIf="file.status == 2">-->
<!--                    <i class="fa fa-check-circle-o fa-2x fa-fw"></i>-->
<!--                     <i>上传完成</i>-->
<!--                  </span>-->
<!--                  <span *ngIf="file.status == 3">-->
<!--                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>-->
<!--                     <i>解析中...</i>-->
<!--                  </span>-->
<!--                  <span *ngIf="file.status == 4">-->
<!--                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>-->
<!--                     <i>翻译中...</i>-->
<!--                  </span>-->
<!--                  <span *ngIf="file.status == 5">-->
<!--                    <i class="fa fa-check-circle fa-2x fa-fw"></i>-->
<!--                     <i>翻译完成</i>-->
<!--                  </span>-->
<!--                  <span *ngIf="file.status == 6">-->
<!--                    <i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>-->
<!--                     <i>报告生成中...</i>-->
<!--                  </span>-->
<!--                   <span *ngIf="file.status == 7">-->
<!--                    <i class="fa fa-check-circle fa-2x fa-fw"></i>-->
<!--                     <i>报告完成</i>-->
<!--                  </span>-->
<!--                </span>-->
            </div>
            <button class="setting" title="翻译相关设置"
            (click)="setting(file)"
            [disabled]="file.status==1">
              设置
            </button>
            <button class="trans" title="开始翻译"
                    (click)="translate(file)">
              翻译
            </button>
          </li>
        </ul>

      </div>
<!--    </div>-->

    <div class="col-12">
      <div class="tab-content">
      </div>
    </div>
<!--  </div>-->
<!--</div>-->


